* {
      margin: 0;
      padding: 0;
      list-style: none;
}

a {
      text-decoration: none;
}

body {
      font-family: 'Gilroy-Bold', 'Gilroy-Regular', sans-serif;
      font-weight: normal;
      font-style: normal;
      color: #000;
}

.center {
      width: 100%;
      max-width: 1170px;
      margin: 0 auto;
}

.header {
      margin-top: 40px;
      margin-bottom: 84px;
      display: flex;
      justify-content: space-between;
}

.header-logo-link {
      margin: 0 14px 0 0;
      display: flex;
      align-items: flex-start;
      text-decoration: none;
}

.header-logo-text {
      margin: 5px 0 0 0;
      font-size: 24px;
      line-height: 28px;
      font-family: 'Gilroy';
      font-weight: bold;
      font-style: normal;
}

.header-menu {
      padding: 11px 0 12px 0;
      display: flex;
      align-items: center;
      list-style: none;
      gap: 35px;
}

.header-menu-item {
      font-family: 'Gilroy';
      font-weight: 600;
      font-style: normal;
      font-size: 14px;
      line-height: 16px;
}

.another-color {
      color: #F25822;
}

.top-content-wrp {
      display: flex;
      margin-bottom: 162px;
}

.top-content-info {
      padding: 0 39px 0 0;
}

.top-content-tittle {
      margin: 0 0 17px 0;
      font-family: 'Gilroy-Bold';
      font-size: 60px;
      line-height: 70px;
      width: 100%;
      max-width: 522px;
}

.top-content-text {
      margin: 0 0 37px 0;
      font-family: 'Gilroy';
      font-weight: 500;
      font-style: normal;
      font-size: 20px;
      line-height: 23px;
      color: #888888;
      max-width: 466px;
      width: 100%;
}

.btn-top-content {
      background: #F25822;
      box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
      border-radius: 50px;
      border: none;
      padding: 15px 36px;
      font-family: 'Gilroy';
      font-weight: bold;
      font-style: normal;
      font-size: 15px;
      line-height: 18px;
      color: #FFFFFF;
}

.btn-top-link {
      font-family: 'Gilroy';
      font-weight: bold;
      font-style: normal;
      font-size: 15px;
      line-height: 18px;
      color: #AAAAAA;
      padding-left: 72px;
}

.top-logos {
      /* margin: 0 0 96px 0; */
}

.logos-list {
      display: flex;
      justify-content: space-between;
      list-style: none;
      padding: 96px 0 97px 0;
}

.logos-list-item {
      width: 160px;
      height: 50px;
}

.features {}

.features-list {
      display: flex;
      justify-content: space-between;
      padding: 100px 0;
      max-width: 1110px;
      margin: 0 auto 0 auto;
      list-style: none;
}

.features-list-item {
      max-width: 310px;
      width: 100%;
      margin-top: 40px;
}

.card-center {
      background: #FFFFFF;
      box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}

.ftr-list-item-big {
      padding: 40px 30px 25px 30px;
      box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
      margin-top: 0;
}

.features-list .features-list-item:nth-child(1) .ftr-list-item-photo {
      background-image: url('../img/ftr-icon1.svg');
}

.features-list .features-list-item:nth-child(2) .ftr-list-item-photo {
      background-image: url('../img/ftr-icon2.svg');
}

.features-list .features-list-item:nth-child(3) .ftr-list-item-photo {
      background-image: url('../img/ftr-icon3.svg');
}

.ftr-list-item-photo {
      margin: 0 0 25px 0;
      height: 70px;
      width: 70px;
}

.ftr-list-item-tittle {
      margin: 0 0 17px 0;
      font-size: 24px;
      line-height: 28px;
      color: #000000;
}

.ftr-list-item-txt {
      margin: 0 0 25px 0;
      font-size: 15px;
      line-height: 22px;
      font-family: 'Gilroy';
}

.ftr-list-item-link {
      font-size: 11px;
      line-height: 150%;
      font-weight: bold;
      font-family: 'Gilroy';
      color: #000;
}

.services {
      padding: 92px 0 100px 0;
}

.services-tittle {
      font-size: 45px;
      line-height: 53px;
      color: #000000;
      text-align: center;
      margin: 0 auto 19px 0;
      font-family: 'Gilroy';
      font-weight: bold;
      font-style: normal;
}

.services-txt {
      max-width: 682px;
      width: 100%;
      margin: 0 auto 55px auto;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #666666;
      font-family: 'Gilroy';
      font-weight: normal;
      font-style: normal;
}

.services-list {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      gap: 30px;
}

.services-list-item {
      max-width: 370px;
      width: 100%;
}

.services-item-photo {
      width: 370px;
      height: 270px;
      box-sizing: border-box;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
}

.serv-img1 {
      background-image: url('../img/services1.png');
}

.serv-img2 {
      background-image: url('../img/services2.png');
}

.serv-img3 {
      background-image: url('../img/services3.png');
}

.sreveices-list-item-tittle {
      text-align: center;
      margin: 25px 0 22px 0;
      font-family: 'Gilroy';
      font-weight: bold;
      font-style: normal;
      font-size: 24px;
      line-height: 28px;
      color: #000000;

}

.srevices-list-item-txt {
      text-align: center;
      margin: 0 auto 39px auto;
      max-width: 310px;
      width: 100%;
      font-family: 'Gilroy';
      font-weight: normal;
      font-style: normal;
      font-size: 15px;
      line-height: 22px;
      text-align: center;
      color: #AAAAAA;
}

.services-list-item-btn {
      margin: 0 auto 35px auto;
      display: block;
      background: #F25822;
      box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
      border-radius: 50px;
      width: 150px;
      height: 50px;
      border: none;
      font-family: 'Gilroy';
      font-weight: bold;
      font-style: normal;
      font-size: 13px;
      line-height: 20px;
      text-align: center;
      color: #FFFFFF;

}